// @keyframes zoomIn {
//   from {
//     opacity: 0;
//     -webkit-transform: scale3d(0.3, 0.3, 0.3);
//     transform: scale3d(0.3, 0.3, 0.3);
//   }

//   50% {
//     opacity: 1;
//   }
// }

// .zoomIn {
//   -webkit-animation-name: zoomIn;
//   animation-name: zoomIn;
// }


// @keyframes pulse {
//   from {
//     -webkit-transform: scale3d(1, 1, 1);
//     transform: scale3d(1, 1, 1);
//   }

//   50% {
//     -webkit-transform: scale3d(1.05, 1.05, 1.05);
//     transform: scale3d(1.05, 1.05, 1.05);
//   }

//   to {
//     -webkit-transform: scale3d(1, 1, 1);
//     transform: scale3d(1, 1, 1);
//   }
// }
@keyframes pulseSmaller {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulseBigger {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.pulseBigger {
  animation-name: pulseBigger;
}

// .pulse {
//   -webkit-animation-name: pulse;
//   animation-name: pulse;
// }

@keyframes scaleout {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 0; 
  } 
}



@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.pulseOpacity {
  animation-name: pulseOpacity;
}



@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: 0 -10000px;
  }
}
@keyframes animatedBackgroundReverse {
  from {
    background-position: 0 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: 0 10000px;
  }
}
@keyframes animatedBackgroundLeftToRight {
  from {
    background-position: 0 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: 10000px 0;
  }
}
@keyframes animatedBackgroundRightToLeft {
  from {
    background-position: 0 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}
@keyframes widthScale {
  from {
    width: 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    width: 100%;
  }
}


.widthScale {
  -webkit-animation-name: widthScale;
  animation-name: widthScale;
}




// @keyframes bounceInDown {
//   from,
//   60%,
//   75%,
//   90%,
//   to {
//     -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//     animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//   }

//   0% {
//     opacity: 0;
//     -webkit-transform: translate3d(0, -3000px, 0);
//     transform: translate3d(0, -3000px, 0);
//   }

//   60% {
//     opacity: 1;
//     -webkit-transform: translate3d(0, 25px, 0);
//     transform: translate3d(0, 25px, 0);
//   }

//   75% {
//     -webkit-transform: translate3d(0, -10px, 0);
//     transform: translate3d(0, -10px, 0);
//   }

//   90% {
//     -webkit-transform: translate3d(0, 5px, 0);
//     transform: translate3d(0, 5px, 0);
//   }

//   to {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }
// }


// .bounceInDown {
//   -webkit-animation-name: bounceInDown;
//   animation-name: bounceInDown;
// }


// @keyframes bounceInUp {
//   from,
//   60%,
//   75%,
//   90%,
//   to {
//     -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//     animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//   }

//   from {
//     opacity: 0;
//     -webkit-transform: translate3d(0, 3000px, 0);
//     transform: translate3d(0, 3000px, 0);
//   }

//   60% {
//     opacity: 1;
//     -webkit-transform: translate3d(0, -20px, 0);
//     transform: translate3d(0, -20px, 0);
//   }

//   75% {
//     -webkit-transform: translate3d(0, 10px, 0);
//     transform: translate3d(0, 10px, 0);
//   }

//   90% {
//     -webkit-transform: translate3d(0, -5px, 0);
//     transform: translate3d(0, -5px, 0);
//   }

//   to {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }
// }

// .bounceInUp {
//   -webkit-animation-name: bounceInUp;
//   animation-name: bounceInUp;
// }


// @keyframes fadeIn {
//   from {
//     opacity: 0;
//   }

//   to {
//     opacity: 1;
//   }
// }

// .fadeIn {
//   -webkit-animation-name: fadeIn;
//   animation-name: fadeIn;
// }


// @keyframes fadeInLeft {
//   from {
//     opacity: 0;
//     -webkit-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//   }

//   to {
//     opacity: 1;
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }
// }

// .fadeInLeft {
//   -webkit-animation-name: fadeInLeft;
//   animation-name: fadeInLeft;
// }

// @keyframes bounceInLeft {
//   from,
//   60%,
//   75%,
//   90%,
//   to {
//     -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//     animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
//   }

//   0% {
//     opacity: 0;
//     -webkit-transform: translate3d(-3000px, 0, 0);
//     transform: translate3d(-3000px, 0, 0);
//   }

//   60% {
//     opacity: 1;
//     -webkit-transform: translate3d(25px, 0, 0);
//     transform: translate3d(25px, 0, 0);
//   }

//   75% {
//     -webkit-transform: translate3d(-10px, 0, 0);
//     transform: translate3d(-10px, 0, 0);
//   }

//   90% {
//     -webkit-transform: translate3d(5px, 0, 0);
//     transform: translate3d(5px, 0, 0);
//   }

//   to {
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }
// }

// .bounceInLeft {
//   -webkit-animation-name: bounceInLeft;
//   animation-name: bounceInLeft;
// }


// @keyframes fadeInLeft {
//   from {
//     opacity: 0;
//     -webkit-transform: translate3d(-100%, 0, 0);
//     transform: translate3d(-100%, 0, 0);
//   }

//   to {
//     opacity: 1;
//     -webkit-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0);
//   }
// }

// .fadeInLeft {
//   -webkit-animation-name: fadeInLeft;
//   animation-name: fadeInLeft;
// }

// .animated {
//   -webkit-animation-duration: 1s;
//   animation-duration: 1s;
//   -webkit-animation-fill-mode: both;
//   animation-fill-mode: both;
// }

// .animated.infinite {
//   -webkit-animation-iteration-count: infinite;
//   animation-iteration-count: infinite;
// }

// .animated.delay-1s {
//   -webkit-animation-delay: 1s;
//   animation-delay: 1s;
// }
.animated.delay-1500ms {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

// .animated.delay-2s {
//   -webkit-animation-delay: 2s;
//   animation-delay: 2s;
// }
.animated.delay-2500ms {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

// .animated.delay-3s {
//   -webkit-animation-delay: 3s;
//   animation-delay: 3s;
// }

// .animated.delay-4s {
//   -webkit-animation-delay: 4s;
//   animation-delay: 4s;
// }

// .animated.delay-5s {
//   -webkit-animation-delay: 5s;
//   animation-delay: 5s;
// }

// .animated.fast {
//   -webkit-animation-duration: 800ms;
//   animation-duration: 800ms;
// }

// .animated.faster {
//   -webkit-animation-duration: 500ms;
//   animation-duration: 500ms;
// }

// .animated.slow {
//   -webkit-animation-duration: 2s;
//   animation-duration: 2s;
// }

// .animated.slower {
//   -webkit-animation-duration: 3s;
//   animation-duration: 3s;
// }

// @media (prefers-reduced-motion) {
//   .animated {
//     -webkit-animation: unset !important;
//     animation: unset !important;
//     -webkit-transition: none !important;
//     transition: none !important;
//   }
// }
