html {
	font-size: $rem-font-size;
}
body {
	position: relative;

	font-family: $document-font-family;
	font-weight: $document-font-weight;
	font-size: $document-font-size;
	line-height: $document-line-height;
	color: $document-color;

	background-color: $document-background;
	&.scroll-hidden {
		overflow: hidden;
		@include lg() {
			padding-right: 17px;
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}

.width-100 {
	width: 100px;
}
.width-150 {
	width: 150px;
}
.width-180 {
	width: 180px;
}
.width-210 {
	width: 210px;
}
.width-240 {
	width: 240px;
}

.bg-footer {
	background-color: #1D1E21 !important;
}
.bg-main {
	background: #363333;
}
.shadow {
	box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.07);
}

.main-bg {
	background-image: url('../images/main-bg.jpg');
	background-position: 0 0;
	background-repeat: repeat;
}

.trf-origin-0-50 {
	transform-origin: 0 -50%;
}
.rotate-90 {
	transform: rotate(90deg);
}

.border-bottom-dotted {
	border-bottom-style: dotted;
}
.border-bottom-width-1 {
	border-bottom-width: 1px;
}
.border-bottom-width-2 {
	border-bottom-width: 2px;
}
.border-bottom-color-white {
	border-bottom-color: #fff;
}
.border-bottom-color-dark {
	border-bottom-color: rgba(#A49191, .3);
}
.border-bottom-color-red-light {
	border-bottom-color: rgba(#F65050, .3);
}

.infinite-background-left {
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-color: #363333;
		@include xl() {
			left: -99999px;
		}
	}
}




.contact-bg {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;

	width: 1365px;
	height: 1365px;

	position: absolute;
	top: 0;
	right: 0;
}
.contact-bg-circles {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 60%;

	background-repeat: repeat;
	background-position: 0 0;
	background-size: auto auto;
	/*adjust s value for speed*/
	animation: animatedBackground 500s linear infinite;
}
.contact-bg-circle {
	position: absolute;
	left: 50%;
	top: 0;
	width: 1218px;
	height: 1218px;
	animation: rotate 100s linear infinite;
	transform-origin: 50% 50%;
}

.about-front-bg {
	position: absolute;
	top: 0;
	left: 50%;
	transform-origin: 50% 50%;
	transform: translate(-50%, 0);
	width: 1336px;
	// overflow: hidden;
}
.about-front-bg__in {
	transform-origin: 50% 50%;
	animation-name: rotate;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.about-front-bg__img {
	transform-origin: 50% 50%;
	animation-name: pulseSmaller;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.about-front-bg__img {
}


canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	z-index: 1;

	filter: hue-rotate(-40deg) saturate(150%);
	// height: 100% !important;
}