.container-fluid {
	max-width: 1300px;
	&_large {
		max-width: 1600px;
	}
}
.column {
	padding-left: 15px;
	padding-right: 15px;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	&_indents_s {
		margin-left: -5px;
		margin-right: -5px;
		& > * {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	&_indents_m {
		margin-left: -10px;
		margin-right: -10px;
		& > * {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	&.no-gutters {
		margin: 0;
		& > * {
			padding-left: 0;
			padding-right: 0;
		}
	}
}