$rem-font-size: 16px;
$font: 'Didact Gothic', sans-serif;
$font1: 'Oswald', sans-serif;

// values for body tag
$document-font-family: $font;
$document-font-weight: 400;
$document-font-size: 1rem;
$document-color: #766161;
$document-line-height: 1.3;
$document-background: #E9E9E9;