.about {
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.about-box {
	position: relative;
	padding: 25px 15px 0;

	background-image: url('../images/about-box-bg.jpg');
	background-repeat: repeat;
	background-position: 0 0;
	@include md() {
		max-width: 670px;
		padding: 40px 40px 24px;
		margin-left: auto;
	}
}
.about-title-middle {
	&:before {
		content: '';
		display: block;
		width: 88px;
		height: 2px;

		background-color: #fff;
		margin-bottom: 5px;
	}
}
.about-box-title {
	position: relative;
	&:after {
		content: '';

		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 25px;
		margin-bottom: -8px;

		background-color: #1D1E21;
	}
}
.about-box-rotate {
	position: absolute;
	top: 75px;
	right: -15px;

	font-size: 14px;
	line-height: 22px;
	color: #ccc;

	transform: rotate(90deg);
}

.about-box-numbers {
	@media only screen and (max-width: 1210px) {
		flex-direction: column;
	}
}