.advantage-box-wrap {
	&:nth-child(even) {
		.advantage-box {
			background-image: url('../images/plashka.png');
		}
	}

}
.advantage-box {
	position: relative;
	border-top: 5px solid #363333;
	padding: 40px;

	font-size: 20px;
	line-height: 1.3;
	color: #fff;

	background-image: url('../images/plashka-red.png');
	background-repeat: no-repeat;
	background-position: 100% 100%;
	background-size: cover;
}
.advantage-box-img {
	position: absolute;
	top: -30px;
	left: -5px;

	background-color: #282D3B;
	padding: 10px 25px;
	@include lg() {
		left: -30px;
	}
}