.advantages {
	@include lg() {
		padding-left: 35px;
		padding-right: 35px;
		.row {
			margin-left: -35px;
			margin-right: -35px;
		}
		[class*="col-"] {
			padding-left: 35px;
			padding-right: 35px;
		}
	}
}