.anchor {
	color: rgba(#F65050, .8);
	display: inline-block;
	padding-bottom: 80px;
	&:hover {
		color: rgba(#F65050, .8);
		text-decoration: none;
		.anchor-arrow {
			transform: translate(-50%, 3px);
		}
	}
}
.anchor-arrow {
	font-size: 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	transition: linear .1s;
	&:before {
		content: '';

		display: inline-block;

		height: 60px;
		width: 2px;

		background-color: #F65050;
	}
	&:after {
		content: '';

		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -6px;
		width: 12px;
		height: 12px;

		border-left: 2px solid #F65050;
		border-bottom: 2px solid #F65050;
		transform: rotate(-45deg);
	}
}