.breadcrumbs {
	li {
		font-size: 14px;
		line-height: 22px;
		color: #ccc;
		&:last-child {
			a {
				&:after {
					display: none;
				}
			}
		}
	}
	a {
		position: relative;
		display: block;

		font-size: 14px;
		line-height: 22px;
		color: #ccc;
		&:after {
			content: '>>';
			display: inline-block;
			vertical-align: middle;
			margin-left: 10px;
		}
		&:hover {
			color: #ccc;
		}
	}
}