.button-clr {
	border: none;
	padding: 0;
	background-color: transparent;
	&:focus {
		outline: none;
	}
}


.button {
	position: relative;
	display: inline-block;
	padding: 18px 25px 18px;

	font-size: 16px;
	line-height: 1;
	text-align: center;
	color: #fff;

	border: 2px solid #F65050;
	background: #F65050;
	transition: linear .2s;
	&:before {
		content: '';

		// width: 100%;
		// height: 100%;
		position: absolute;
		// top: 50%;
		// left: 50%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		// margin-bottom: -1px;

		background-color: #fff;
		transform-origin: 50% 50%;
		transform: scale(0, 0);
		transition: linear .2s;
	}
	&:hover {
		color: #F65050;
		text-decoration: none;
		&:before {
			transform: scale(1, 1);
		}
	}
	&_hover {
		background-color: transparent;
		&:before {
			background-color: #F65050;
			transform: scale(1, 1);
		}
		&:hover {
			color: #fff;
			&:before {
				transform: scale(0, 0);
			}
		}
	}
	&_theme_white {
		background-color: #fff;
		border-color: #fff;
		color: #F65050;
		&:before {
			background-color: #F65050;
		}
		&:hover {
			color: #fff;
			// color: #F65050;
		}
	}
	&_simple {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	&_theme_contact {
		border-width: 1px;
		padding-top: 5px;
		padding-bottom: 5px;
		background-color: transparent;
		border-color: #fff;
		color: #fff;
	}
	&_transparent {
		border-color: #766161;
		background-color: transparent;
		color: #ccc;
		transition: linear .1s;
		&:before {
			background-color: transparent;
		}
		&:hover {
			// color: #ccc;
			color: #fff;
			border-color: #fff;
		}
	}
	&_transparent_red {
		border-color: #F65050;
		background-color: transparent;
		color: #F65050;
		&:before {
			background-color: #F65050;
		}
		&:hover {
			color: #fff;
			border-color: #F65050;
		}
	}
	&_tag {
		border: 1px solid rgba(#FFFFFF, .2);
		background-color: transparent;
		color: rgba(#fff, .6);
		&:before {
			display: none;
		}
		&:hover {

			color: rgba(#fff, .6);
		}
	}
	&[type="submit"] {
		&:hover {
			color: #F65050;
			background-color: transparent;
		}
	}
}

.button-del-circle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	font-size: 8px;
	color: #E9E9E9;

	background: transparent;
	border: 1px solid #E9E9E9;
	border-radius: 50%;
	transition: linear .1s;
	.svg-icon {
		flex-shrink: 0;
		flex-grow: 0;
		transition: linear .1s;
	}
	&:hover {
		.svg-icon {
			transform: rotate(90deg);
		}
	}
}