.calc-section {

}
.calc-box {
	position: relative;
	line-height: 1.5;
	transition: linear .2s;
	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: 1;
	// 	width: 100%;
	// 	height: 100%;
	// 	background-image: url('../images/plashka.png');
	// 	background-size: cover;
	// 	background-repeat: no-repeat;
	// 	background-position: 0 50%;
	// 	transition: linear .2s;
	// }
	// &:after {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: 1;
	// 	width: 100%;
	// 	height: 100%;
	// 	background-image: url('../images/plashka-red.png');
	// 	background-size: cover;
	// 	background-repeat: no-repeat;
	// 	background-position: 0 50%;

	// 	opacity: 0;
	// 	visibility: hidden;
	// 	transition: linear .2s;
	// }
	h2 {
		color: #F2F2F2;
		font-size: 40px;
		margin-bottom: 24px;
	}
	.position-relative {
		z-index: 2;
	}
	&:hover {
		transform: translate(3px, 0);
		.calc-box-before {
			opacity: 0;
			visibility: hidden;
		}
		.calc-box-after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.calc-box-before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	// background-image: url('../images/plashka.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 50%;
	transition: linear .2s;

}
.calc-box-after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	// background-image: url('../images/plashka-red.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 50%;

	opacity: 0;
	visibility: hidden;
}