.category-box {
	display: block;
	border-bottom: 1px solid #363333;
	padding-left: 10px;
	color: #fff;
	transition: linear .1s;
	&:hover {
		text-decoration: none;
		color: #F65050;
		border-color: #F65050;
		.category-box-icon-box {
			background-color: #F65050;
		}
	}
}
.category-box-icon-box {
	padding: 6px 12px;
	background-color: #282D3B;
	transition: linear .1s;
	.lazy-box {
		&:after {
			padding-bottom: 100%;
		}
	}
}