.checkbox {

}
.checkbox-input {
	&:checked {
		& + label {
			.checkbox-pseudo-icon {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.checkbox-label {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
}
.checkbox-pseudo {
	position: relative;
	width: 14px;
	height: 13px;
	flex-shrink: 0;

	border: 1px solid #766161;
	margin-right: 11px;
}
.checkbox-pseudo-icon {
	position: absolute;
	top: -3px;
	left: 0;
	color: #F65050;

	font-size: 14px;

	opacity: 0;
	visibility: hidden;
}
.checkbox-txt {

}