.collapse-btn {
	position: relative;
	&:not(.collapsed) {
		color: #F65050 !important;
		.collapse-btn-border {
			border-color: #F65050 !important;
		}
		.collapse-btn-icon {
			color: #F65050 !important;
		}
		.collapse-btn-shevron {
			transform: rotate(0);
			color: #F65050 !important;
			
		}
	}
}
.collapse-btn-shevron {
	opacity: .3;
	transform: rotate(180deg);
	position: absolute;
	top: 2px;
	left: -24px;
}

.result-collapse-btn {
	&:not(.collapsed) {
		color: #F65050 !important;
	}
}


.solutions-collapse-btn {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 12px 35px 11px;

	background-color: transparent;
	border: 1px solid #363333;
	box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);

	color: #fff;
	text-align: left;
	@include mmd() {
		padding-left: 15px;
		padding-right: 40px;
	}
	@include msm() {
		flex-direction: column;
		align-items: flex-start;
	}
	&:not(.collapsed) {
		background: #F65050;
		box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
		.solutions-collapse-name {
			@include sm() {
				border-top-color: #fff;
			}
		}
		.solutions-collapse-arrow {
			transform: translate(0, -50%) rotate(90deg);
		}
	}
	&:focus {
		outline: none;
	}
}
.solutions-collapse-name {
	margin-right: 20px;
	font-size: 34px;
	font-weight: 600;
	font-family: $font1;
	text-transform: capitalize;
	border-top: 1px solid transparent;
	padding-top: 5px;
	padding-bottom: 6px;
	padding-right: 15px;
}

.solutions-collapse-descr {
	max-width: 490px;
	@include sm() {
		margin-left: auto;
	}
}
.solutions-collapse-arrow {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(0, -50%);
	font-size: 12px;
}