h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 10px;
}
h1 {
	font-size: 36px;
	font-weight: 900;
	line-height: 1.2;
	@include sm() {
		font-size: 64px;
	}
	@include xl() {
	}
}
h2 {
	font-size: 40px;
	font-weight: 600;
	line-height: 1.2;
	font-family: $font1;
	text-transform: capitalize;
	@include sm() {
		font-size: 64px;
	}
}
h3 {
	font-size: 30px;
	line-height: 1.3;
	font-weight: 400;
	@include msm() {
		font-size: 24px;
	}
}
h4 {
	font-size: 20px;
	line-height: 1.4;
	font-weight: 700;
	@include msm() {
		font-size: 18px;
	}
}


.letter-spacing-0-2 {
	letter-spacing: 0.02em !important;
}


.font-size-0 {
	font-size: 0 !important;
}
.font-size-10 {
	font-size: 10px !important;
}
.font-size-11 {
	font-size: 11px !important;
}
.font-size-12 {
	font-size: 12px !important;
}
.font-size-14 {
	font-size: 14px !important;
}
.font-size-18 {
	font-size: 18px !important;
}
.font-size-16 {
	font-size: 16px !important;
}
.font-size-20 {
	font-size: 20px !important;
}
.font-size-24 {
	font-size: 24px !important;
}
.font-size-25 {
	font-size: 25px !important;
}
.font-size-22 {
	font-size: 18px !important;
	@include sm() {
		font-size: 22px !important;
	}
}
.font-size-32 {
	font-size: 25px !important;
	@include sm() {
		font-size: 32px !important;
	}
}
.font-size-40 {
	font-size: 30px !important;
	@include sm() {
		font-size: 40px !important;
	}
}


.font-weight-semi {
	font-weight: 600 !important;
}


.text-grey {
	color: #626176 !important;
	&:hover {
		color: #626176 !important;
	}
}
.text-main {
	color: #766161 !important;
	&:hover {
		color: #766161 !important;
	}
}
.text-main-dark {
	color: #282D3B !important;
	&:hover {
		color: #282D3B !important;
	}
}
.text-main-light {
	color: rgba(#2B292D, .6) !important;
	&:hover {
		color: rgba(#2B292D, .6) !important;
	}
}
.text-grey-light {
	color: #ccc !important;
}
.text-grey-lighter {
	color: rgba(#A49191, .3) !important;
}
.text-yellow {
	color: #FFAE00 !important;
}
.text-red-light {
	color: rgba(#F65050, .6) !important;
	mix-blend-mode: normal;
}
.text-red {
	color: #F65050 !important;
}


.line-height-1 {
	line-height: 1 !important;
}
.line-height-1-5 {
	line-height: 1.5 !important;
}


.wh-nowrap {
	white-space: nowrap !important;
}




hr.devider {
	border: none;
	border-bottom: 1px solid rgba(#2B292D, .1);
	&_border_grey {
		border-bottom: 1px solid #ebebeb;
	}
	&_border_grey_light {
		border-bottom: 1px solid rgba(#ebebeb, .2);
	}
	&_border_red {
		border-bottom-color: #F65050;
	}
	&_border_width_2 {
		border-bottom-width: 2px;
	}
	&_border_text_main {
		border-bottom-color: #766161;
	}
	&_border_color_red_light {
		border-bottom-color: rgba(#E9E9E9, .1);
	}
}



.frontTitle {
	color: #1D1E21;
	letter-spacing: 0.08em;
	text-shadow: 2px 0 0 #F65050, -2px 0 0 #F65050, 0 2px 0 #F65050, 0 -2px 0 #F65050, 1px 1px #F65050, -1px -1px 0 #F65050, 1px -1px 0 #F65050, -1px 1px 0 #F65050;
	font-family: $font1;
	font-size: 44px;
	white-space: nowrap;
	@include sm() {
		font-size: 72px;
	}
	@include lg() {
		font-size: 144px;
	}
}
.frontTitle__word-o-special {
	position: relative;
	color: #F65050;
	&:before {
		content: '';
		position: absolute;
		top: 100px;
		left: 23px;
		background-color: #F65050;
		border: 1px solid #1D1E21;

		border-radius: 50px;
		@include lg() {
			width: 15px;
			height: 60px;
		}
	}
}

.dev-title {
	position: relative;
	padding-bottom: 8px;
	margin-bottom: 10px;
	&:before {
		content: '';

		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		max-width: 140px;
		border-bottom: 3px solid #F65050;
	}
	&_portfolio {
		display: inline-block;
		padding-right: 20px;
		&:before {
			border-width: 1px;
			max-width: none;
		}
	}
}

.result-value {
	
}

.svg {
	width: 100%;
	display: block;

	&-portfolio {
		width: 1025px;
		height: 346px;
		fill: none;
		stroke-width: 2px;
		stroke: #fff;
		font-size: 264px;
		line-height: 1;
		// color: #000;
		font-family: $font1;
		text-transform: capitalize;
		font-weight: 600;
		letter-spacing: 12px;
	}
	&-testimonials {
		font-size: 84px;
		fill: none;
		stroke-width: 2px;
		stroke: rgba(#fff, .03);
		font-family: $font1;
		text-transform: capitalize;
		font-weight: 600;
		letter-spacing: 30px;
	}
}


.border-line {
	position: relative;
	padding-bottom: 8px;
	&:before {
		content: '';

		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		max-width: 140px;
		border-bottom: 3px solid transparent;
	}
	&_red {
		&:before {
			border-bottom-color: #F65050;
		}
	}
	&_grey_light {
		&:before {
			border-bottom-color: #ccc;
		}
	}
	&_size_2 {
		border-bottom-width: 2px;
	}
}

.font-family-oswald {
	font-family: $font1;
}


.step-count {
	font-family: $font1;
	font-weight: 600;
	font-size: 64px;
	text-transform: capitalize;
	color: #282D3B;
}

.pseudo-border {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		border: 1px solid #363333;
		background-color: #1D1E21;
		bottom: 0;
	}
	@include msm() {
		&:after {
			top: auto;
			left: 0;
			height: 3px;
			width: 100%;
		}
	}
	@include sm() {
		&:after {
			right: 0;
			top: 0;
			width: 3px;
		}
	}
	&_tablet_position {
		&:after {
			@include mmd() {
				top: auto;
				left: 0;
				height: 3px;
				width: 100%;
			}
		}
	}
}


.last-child-margin-none {
	& > * {
		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}

.sub-title {
	position: relative;
	display: inline-block;
	color: #ccc;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 1.005em;
	text-transform: uppercase;
	&-line {
		position: absolute;
		left: 100%;
		top: 50%;

		display: block;
		white-space: nowrap;
		width: 414px;
		transform: translate(0, -50%);
		border-bottom: 1px solid #fff;
		margin-left: -45px;
		font-size: 0;
		line-height: 1;
	}
}


.card-total-title {
	position: relative;
	&:before {
		content: '';

		position: absolute;
		top: 50%;
		left: -30px;
		transform: translate(0, -50%);
		border-bottom: 3px solid #F65050;
		width: 22px;
	}
}