


.dev-count {
	position: relative;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	width: 90px;
	height: 90px;
	border: 1px solid #363333;

	font-family: $font1;
	font-weight: 500;
	font-size: 36px;
	line-height: 1.47;
	letter-spacing: 0.18em;
	color: #fff;
	text-align: center;


	background: #1B1B1B;
}
.dev-count__in {
	&:before, &:after {
		content: '';

		position: absolute;
		top: 0;

		width: 4px;
		height: 4px;
		border: 0.5px solid #E9E9E9;
		margin-top: -2px;

		// background: #1E1C1C;
	}
	&:before {
		left: 0;
		margin-left: -2px;
	}
	&:after {
		right: 0;
		margin-right: -2px;
	}
}
.dev-count__inner {
	&:before, &:after {
		content: '';

		position: absolute;
		bottom: 0;

		width: 4px;
		height: 4px;
		border: 0.5px solid #E9E9E9;
		margin-bottom: -2px;

		// background: #1E1C1C;
	}
	&:before {
		left: 0;
		margin-left: -2px;
	}
	&:after {
		right: 0;
		margin-right: -2px;
	}
}
.dev-count__inside {
	&:before, &:after {
		content: '';

		position: absolute;

		width: 4px;
		height: 4px;
		border: 0.5px solid #E9E9E9;
		margin-left: -2px;
		margin-top: -2px;

		// background: #1E1C1C;
	}
	&:before {
		top: 0;
		left: 50%;
	}
	&:after {
		left: 0;
		top: 50%;
	}
}
.dev-count__inside-in {
	&:before, &:after {
		content: '';

		position: absolute;

		width: 4px;
		height: 4px;
		border: 0.5px solid #E9E9E9;
		margin-right: -2px;
		margin-bottom: -2px;

		// background: #1E1C1C;
	}
	&:before {
		bottom: 0;
		left: 50%;
	}
	&:after {
		right: 0;
		bottom: 50%;
	}
}
.dev-count__triangle {
	&:before {
		content: '';

		position: absolute;
		right: 0;
		bottom: 0;
		// border-right: 45px solid #161515;
		border-right: 90px solid #161515;
		border-left: 90px solid transparent;
		border-top: 90px solid transparent;
	}
}



