.field-activity {
	position: relative;
	overflow: hidden;
	border: 1px solid #363333;
	padding: 20px;
	background-color: #1B1B1B;
	@include md() {
		padding: 30px 50px;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		letter-spacing: 0.02em;
	}
	&:before {
		content: '';
		
		position: absolute;
		right: 0;
		bottom: 0;
		display: block;
		width: 200%;
		height: 100%;

		background-color: #161515;
		transform: rotate(-27deg);
		transform-origin: 100% 0;
	}
}
.field-activity__lazy {
	width: 52px;
	&:after {
		padding-bottom: 45 / 52 * 100%;
	}
}