.footer {
	padding: 35px 0 25px;
	position: relative;
	z-index: 11;
	background-color: transparent;
}
.footer-first-row {
	position: relative;
	position: relative;
	margin-bottom: 15px;
	@include xl() {
		padding-bottom: 50px;
	}
	&:after {
		content: '';

		position: absolute;
		left: -50px;
		right: -50px;
		bottom: 0;
		border-bottom: 1px solid #766161;
	}
}
.footer-logo {
	display: block;
	transition: linear .2s;
	&:hover {
		transform: skew(-10deg);
	}
}
.footer-menu {
	a {
		position: relative;
		padding-top: 10px;
		padding-bottom: 10px;
		transition: linear .2s;
		&:before {
			content: '';

			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;

			background-color: #F65050;
			opacity: 0;
			visibility: hidden;
			transform: translate(0, 3px);

			transition: linear .2s;
		}
		&:hover {
			transform: translate(0, -3px);
			&:before {
				opacity: 1;
				visibility: visible;
				transform: translate(0, 0);
			}
		}
	}
}