.form-control {
	height: auto;
	min-height: auto;
	padding: 8px 20px;


	font-size: 14px;
	color: #1D1E21;
	border: 1px solid #363333;
	border-radius: 1px;
	line-height: 1;

	background-color: transparent;
	resize: none;
	@include iph() {
		font-size: 14px;
		color: #766161;
		line-height: 1;
	}
	&:focus {
		background-color: transparent;
		box-shadow: none;
		outline: none;
		border-color: #363333;
	}
}

.pseudo-select {
	position: relative;
}
.pseudo-select-self {
	padding: 8px 50px 8px 20px;
	border: none;
	width: 100%;
	font-size: 14px;
	color: #1D1E21;
	line-height: 1;

	background-color: transparent;
	&:focus {
		outline: none;
	}
}
.pseudo-select-arrow {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translate(0, -50%) rotate(90deg);
	color: #fff;
	font-size: 10px;
	&.rotate-negative-90 {
		transform: translate(0, -50%) rotate(-90deg);
	}
}