.form {

}
.form-group_textarea {
	position: relative;
	// &:before, &:after {
	// 	content: '';

	// 	position: absolute;
	// 	left: 0;
	// 	width: 100%;

	// 	border-bottom: 1px solid #ccc;
	// }
	// &:before {
	// 	bottom: 80px;
	// }
	// &:after {
	// 	bottom: 40px;
	// }
}
.form-contact {
	.form-control {
		border: none;
		padding: 0 0 12px;
		border-bottom: 1px solid #ccc;
		height: auto;
		min-height: auto;

		font-size: 16px;
		line-height: 1;
		border-radius: 0;

		resize: none;
		@include iph() {
			font-size: 16px;
			line-height: 1;
			color: #F65050;
			mix-blend-mode: normal;
		}
		&:focus {
			border-color: #F65050;
			box-shadow: none;
			outline: none;
			@include iph() {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}