.front {
	&_shop {
		.front__container {
			min-height: auto;
			@include mmd() {
				padding-bottom: 20px;
			}
		}
	}
}
.front__container {
	// min-height: 600px;
	min-height: 100vh;
	@include mmd() {
		padding-bottom: 150px;
	}
}

.front__arrow {
	position: absolute;
	bottom: 30px;
	left: 50%;
	width: 86px;
	height: 100px;
	margin-left: -43px;
	z-index: 9999;
}
.front__socials {
	position: relative;
	z-index: 9999;
}