.lazy-box {
	position: relative;
	width: 100%;
	&:after {
		content: '';
		display: block;
		padding-bottom: 100%;
	}
}
.lazy-box-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	object-fit: cover;
}

.lazy-loading {
	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		margin-top: -5px;
		margin-left: -5px;
		width: 10px;
		height: 10px;
		border-radius: 32px;
		animation: scaleout 1.2s infinite ease-in-out;


		mix-blend-mode: soft-light;
		background-color: #1D1E21; 
	}
}

.lazyload,
.lazy-lazyloading {
	opacity: 0;
	transition: linear .2s;
}

.lazyload,
.lazyloaded, {
	opacity: 1;
}

.lazy-box-height {
	font-size: 0;
}