.menu {
	@include mlg() {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100vh;
		z-index: 99999;

		display: flex;
		flex-direction: column;

		opacity: 0;
		visibility: hidden;
		transition: linear 0s;
		&:before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			background-color: rgba(#fff, 1);
		}
		&:after {
			content: '';

			position: absolute;
			left: 50%;
			top: 50%;
			width: 1500px;
			height: 1500px;
			transform-origin: 50% 50%;
			transform: translate(-50%, -50%) scale(0, 0);
			border-radius: 50%;

			// background: -webkit-linear-gradient(110.86deg, #CC18BC -4.03%, #FF8340 111.08%);
			// background-color: #fff;
			background-image: url('../images/main-bg.jpg');
			background-position: 0 0;
			background-repeat: repeat;

			transition: .3s linear .6s;
		}
	}
	.menu-nav {
		margin-left: -15px;
		margin-right: -15px;
		@include mlg() {
			height: 100%;
			display: block !important;
			text-align: center;
			// overflow-x: auto;
			// flex-direction: column;
			& > li {
				margin-bottom: 50px;
				& > a {
					font-size: 30px;
				}
			}
		}
		@include msm() {
			& > li {
				margin-bottom: 50px;
			}
		}
	}
	&.visible {
		@include mlg() {
			transition: linear .3s;
			opacity: 1;
			visibility: visible;
			left: 0;
			&:after {
				transform: translate(-50%, -50%) scale(1, 1);
				transition: .4s linear .5s;
			}
		}
	}
}
.menu-inner {
	@include mlg() {
		position: relative;
		z-index: 5;
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		padding: 100px 15px;
		height: 100%;
		overflow-y: auto;
		@include mmd() {
			padding-top: 75px;
			padding-bottom: 75px;
		}
		@include msm() {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
}
.menu-close {
	// background-color: transparent;
	// padding: 0;
	// border: none;
	// font-size: 30px;
	// color: #000;

	position: absolute;
	top: 15px;
	right: 30px;
	z-index: 10;
	@include lg() {
		display: none;
	}

}
.menu-close-icon {
}


.menu-nav-link {
	font-size: 16px;
	color: #fff !important;
	text-decoration: none;
	padding: 5px 25px;
	border-left: 1px solid #3D3C3B;
}