.menu-nav {
	padding: 0;
	margin: 0;
	list-style: none;
	@include lg() {
		display: flex;
		flex-wrap: wrap;
	}
	& >	li {
		padding-left: 15px;
		padding-right: 15px;
		@include xl() {
			padding-left: 45px;
			padding-right: 45px;
		}
		& > a {
			display: block;

			font-size: 16px;
			color: #fff;
			@include lg() {
				position: relative;
				padding-top: 10px;
				padding-bottom: 10px;
				transition: linear .2s;
				&:before {
					content: '';

					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;

					background-color: #fff;
					opacity: 0;
					visibility: hidden;
					transform: translate(0, 3px);

					transition: linear .2s;
				}
				&:hover {
					transform: translate(0, -3px);
					&:before {
						opacity: 1;
						visibility: visible;
						transform: translate(0, 0);
					}
				}
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
}


.menu-nav-dropdown {
	position: relative;
	@include lg() {
		&:hover {
			.menu-nav-drop {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.menu-nav-toggle {
	position: relative;
	display: block;
	font-size: 16px;
	padding: 10px 0;
	color: #FFFFFF !important;
	text-decoration: none !important;
	z-index: 2;
	@include mlg() {
		font-size: 30px;
	}
}
.menu-nav-drop {
	@include lg() {
		z-index: 1;
		position: absolute;
		top: 100%;
		left: 0;
		overflow: hidden;

		width: 180px;
		margin-top: -35px;
		margin-left: -10px;
		padding: 35px 10px 15px;
		border: 1px solid #363333;

		
		background: #1B1B1B;
		opacity: 0;
		visibility: hidden;
		transition: linear .1s;
	}
	@include mlg() {
		margin-top: 20px;
	}
	@include lg() {
		&:before {
			content: '';

			position: absolute;
			top: 30px;
			right: 0;
			left: 10px;
			border-bottom: 1px solid #4B4747;
			z-index: 2;
		}
		&:after {
			content: '';

			position: absolute;
			width: 150%;
			right: 0;
			top: 0;
			height: 100%;
			background-color: #161515;
			z-index: 1;
			transform-origin: 100% 0;
			transform: rotate(-45deg);
		}
	}
	li {
		position: relative;
		z-index: 2;
		@include mlg() {
			margin-bottom: 10px;
		}
	}
	a {
		font-size: 14px;
		line-height: 22px;
		color: #CCCCCC;
		text-decoration: none !important;
		@include mlg() {
			font-size: 24px;
		}
		&:hover {
			color: #F65050;
		}
	}
}