.notif-indicator {
	position: absolute;
	left: 100%;
	top: 0;
	margin-left: -6px;
	margin-top: -3px;

	padding-left: 6px;
	padding-right: 6px;

	font-size: 10px;
	line-height: 13px;
	color: #fff;

	background: #F65050;
	border-radius: 4px;
}