.pagination {
	justify-content: center;
	.page-item {
		&:first-child {
			.page-link {
				border-radius: 3px 0 0 3px;
			}
		}
		&:last-child {
			.page-link {
				border-radius: 0 3px 3px 0;
			}
		}
	}
	.page-link {
		border: 1px solid #766161;
		padding: 15px 20px;
		background-color: transparent;
		color: #fff;
		font-size: 14px;
		&:hover {
			background-color: rgba(#F65050, .4);
		}
		&.active {
			background-color: #F65050;
		}
	}
}