.portfolio-front {
	position: relative;
}

.portfolio-front-bg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: repeat;
	background-position: 0 0;
	background-size: cover;
	animation: animatedBackgroundLeftToRight 500s linear infinite;
}