.owl-carousel {
	.owl-nav {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 50px;
		button[class*="owl-"] {
			width: 45px;
			height: 35px;
			transition: linear .1s;
			.svg-icon {
				font-size: 30px;
				transform-origin: 50% 50%;
				color: #F65050;
				transition: linear .1s;
			}
			&:hover {
				&.disabled {
					background-color: transparent;
				}
				&:not(.disabled) {
					background-color: transparent;
					background-color: #1D1E21;
					.svg-icon {
						transform: translateX(-25px);
					}
				}
			}
			&:focus {
				outline: none;
			}
		}
		.owl-next {
			margin-left: 100px;
			@media only screen and (min-width: 1500px) {
				margin-right: 300px;
			}
			.svg-icon {
				transform: rotate(180deg);
			}
			&:hover {
				.svg-icon {
					transform: rotate(180deg) translateX(-25px) !important;
				}
				&.disabled {
					background-color: transparent;
					.svg-icon {
						transform: rotate(180deg) !important;
					}
				}
			}
		}
	}
}
.portfolio-slider {
	max-width: 1600px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	.owl-item {
		transition: linear .05s;
		&.active {
			&.last {
				opacity: .05;
			}
		}
	}
}

.portfolio-item {
	width: 100%;

	margin-left: auto;
	margin-right: auto;
	.lazy-box {
		&:after {
			padding-bottom: 373 / 295 * 100%;
		}
	}
	@media only screen and (min-width: 380px) {
		width: 295px;
	}
	@include sm() {
		width: 100%;
	}
	@include md() {
		width: 295px;
	}
}
