.priority {

}
.priority-box {
	position: relative;
	border: 2px solid #F65050;
	border-top-color: transparent;
	padding: 40px 25px;
	line-height: 28px;
}
.priority-box-number {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(0, -50%);
	margin-top: -5px;
	padding: 0 25px 0 30px;

	font-size: 47px;
	line-height: 1;
	width: 100%;
	&:before {
		content: '';

		border-top: 2px solid #F65050;
		width: 18px;
		position: absolute;
		top: 26px;
		left: -1px;
	}
}