.project-box {
	// min-height: 425px;
	position: relative;
	overflow: hidden;
	&:hover {
		.project-box__bg {
			animation: pulseBigger 15s linear infinite;
		}
	}
}
.project-box__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: auto auto;
	background-size: cover;
	background-repeat: repeat-y;
}