.progress-line {
	border-bottom: 1px solid #363333;
	font-size: 0;
}
.progress-line__line {
	font-size: 0;
	border-bottom: 1px solid #F65050;

	position: absolute;
	top: 0;
	left: 0;
	transform: translate(0, -50%);
}