.radio {

}
.radio-input {
	&:checked {
		& + label {
			.radio-pseudo {
				background-color: #F65050;
			}
		}
	}
}
.radio-label {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.radio-pseudo {
	display: block;
	width: 22px;
	height: 22px;
	flex-shrink: 0;
	border-radius: 50%;

	background-color: #363333;
}
.radio-txt {
	margin: 0;
}