.portfolio-scroll {
	.mCSB_scrollTools .mCSB_draggerRail {
		background-color: #EBEBEB;
		width: 3px;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		width: 3px;
		background-color: #626176;
	}
	&_reverse {
		.mCSB_inside > .mCSB_container {
			margin-right: 0;
			// margin-left: 30px;
		}
		.mCSB_scrollTools {
			right: auto;
			left: 0;
		}
	}
}