.section-description {
	position: absolute;
	top: 0;
	right: 0;
	width: 44%;
	height: 100%;

	&_portfolio {
		background-color: rgba(#282D3B, .1);
		.svg {
			position: absolute;
			bottom: -30px;
			right: 160px;
		}
	}
	&_grey {
		background-color: rgba(#282D3B, .04);
	}
	&_left {
		right: auto;
		bottom: 0;
		left: 0;
		top: 110px;
		height: auto;
	}
}

