.shop-services {
	
}
.shop-service {
	background: #363333;
	box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.07);
	transition: linear .1s;
	&:hover {
		background: #F65050;
		.shop-service-title {
			color: #fff;
			border-color: #E44F4F;
		}
		.shop-service-price {
			color: #282D3B;
		}
		.shop-service-content {
			color: #fff;
		}
	}
}
.shop-service-title {
	border-bottom: 1px solid #3D3C3B;
	padding-bottom: 10px;
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: 0.02em;
	color: #F65050;
	font-family: $font1;
}
.shop-service-content {
	font-size: 16px;
	line-height: 24px;
	color: #ccc;
	@include mxl() {
		font-size: 14px;
	}
}
.shop-service-price {
	font-weight: 600;
	font-size: 40px;
	line-height: 126.2%;
	color: #F65050;
	font-family: $font1;
}