.table-basket {
	@include sm() {
		border-radius: 3px;
		box-shadow: 0px 1px 3px rgba(48, 64, 83, 0.1);
	}
	@include msm() {
		display: block;
	}
	thead {
		@include msm() {
			display: block;
		}
		th {
			border: none;
			font-size: 16px;
			line-height: 28px;
			color: #766161;
			font-weight: 400;
			border-bottom: 1px solid #766161;;
			@include sm() {
				&:first-child {
					padding-left: 25px;
				}
				&:last-child {
					padding-right: 25px;
				}
			}
			@include msm() {
				display: block;
			}
		}
		@include msm() {
			display: none;
		}
	}
	tbody {
		@include msm() {
			display: block;
		}
		tr {
			&:nth-child(even) {
				background: #161515;
			}
			@include msm() {
				position: relative;
				display: block;
				margin-bottom: 20px;
				.button-del-circle {
					position: absolute;
					right: 20px;
					top: 20px;
				}
			}
		}
		td {
			border: none;
			@include sm() {
				&:first-child {
					padding-left: 25px;
				}
				&:last-child {
					padding-right: 25px;
				}
			}
			@include msm() {
				display: block;
				&:first-child {
					padding-right: 50px;
				}
				&:last-child {
					padding: 0;
				}
			}
		}
	}
}

.table-basket-title {
	font-weight: bold;
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: 0.02em;
	color: #fff;
	font-family: $font1;
	@include msm() {
		font-size: 16px;
	}
}
.table-basket-category {
	font-size: 16px;
	line-height: 24px;
	color: #766161;
	@include msm() {
		font-size: 14px;
	}
}
.table-basket-price {
	font-size: 16px;
	line-height: 24px;
	color: #F65050;
}