.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	&_background_dark {
		background-color: #1D1E21;
	}
}
.wrapper__in {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}