<footer class="footer bg-footer mt-auto">
	<div class="container-fluid">
		<div class="footer-first-row row align-items-center">
			<div class="col-xl-3">
				<div class="row row_indents_m align-items-center flex-nowrap">
					<div class="column">
						<a class="footer-logo lazy-box lazy-loading d-block" style="width: 47px;" href="#">
							<img
								class="lazy-img lazy-box-img lazyload"
								data-sizes="auto"
								data-srcset="images/logo.svg"
								data-src="images/logo.svg"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								alt="">
						</a>
					</div>
					<div class="column">
						<h4 class="text-red mb-1">WebSV</h4>
						<div class="text-grey-light">web and mobile development</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9">
				<ul class="footer-menu list-unstyled mb-0 row justify-content-between pl-xl-5 ml-xl-5 pt-2 pb-2">
					<li class="pl-3 pr-3">
						<h4 class="text-uppercase font-family-oswald">
							<a class="text-red text-decoration-none" href="#">Home</a>
						</h4>
					</li>
					<li class="pl-3 pr-3">
						<h4 class="text-uppercase font-family-oswald">
							<a class="text-red text-decoration-none" href="#">Shop</a>
						</h4>
					</li>
					<li class="pl-3 pr-3">
						<h4 class="text-uppercase font-family-oswald">
							<a class="text-red text-decoration-none" href="#">About</a>
						</h4>
					</li>
					<li class="pl-3 pr-3">
						<h4 class="text-uppercase font-family-oswald">
							<a class="text-red text-decoration-none" href="#">Contact</a>
						</h4>
					</li>
				</ul>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="column">
				<ul class="list-unstyled row row_indents_m mb-0">
					<li><a class="text-red" href="#">Terms</a></li>
					<li><a class="text-red" href="#">Privacy</a></li>
					<li><a class="text-red" href="#">License</a></li>
				</ul>
			</div>
			<div class="column ml-sm-auto mt-2 mt-sm-0">
				<div class="socials d-flex flex-wrap line-height-1">
					<a class="text-red font-size-18 text-decoration-none pl-2 pr-2" href="#">
						<svg class="svg-icon">
							<use xlink:href="images/svg-sprite/svgSprite.svg#Facebook"></use>
						</svg>
					</a>
					<a class="text-red font-size-18 text-decoration-none pl-2 pr-2" href="#">
						<svg class="svg-icon">
							<use xlink:href="images/svg-sprite/svgSprite.svg#icon-twitter"></use>
						</svg>
					</a>
					<a class="text-red font-size-18 text-decoration-none pl-2 pr-2" href="#">
						<svg class="svg-icon">
							<use xlink:href="images/svg-sprite/svgSprite.svg#google-plus"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>