<footer class="footer bg-footer mt-auto pt-3 pb-3 pb-lg-4 wow bounceInUp" data-wow-duration="2s">
	<div class="container-fluid pb-lg-2 pt-lg-3">
		<div class="row align-items-center">
			<div class="col-lg-3">
				<div class="row row_indents_m align-items-center flex-nowrap">
					<div class="column">
						<a class="footer-logo lazy-box lazy-loading d-block" style="width: 47px;" href="#">
							<img
								class="lazy-img lazy-box-img lazyload"
								data-sizes="auto"
								data-srcset="images/logo.svg"
								data-src="images/logo.svg"
								src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								alt="">
						</a>
					</div>
					<div class="column">
						<h4 class="text-white mb-1">WebSV</h4>
						<div class="text-main">web and mobile development</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<ul class="footer-menu list-unstyled mb-0 row justify-content-lg-end pl-xl-5 ml-xl-5 pt-2 pb-lg-2 pl-3 pr-3 pl-sm-0 pr-sm-0">
					<li class="pl-2 pr-2 pl-sm-4 pr-sm-4">
						<h4 class="font-family-oswald">
							<a class="d-block text-red text-decoration-none" href="#">Home</a>
						</h4>
					</li>
					<li class="pl-2 pr-2 pl-sm-4 pr-sm-4">
						<h4 class="font-family-oswald">
							<a class="d-block text-red text-decoration-none" href="#">Shop</a>
						</h4>
					</li>
					<li class="pl-2 pr-2 pl-sm-4 pr-sm-4">
						<h4 class="font-family-oswald">
							<a class="d-block text-red text-decoration-none" href="#">About</a>
						</h4>
					</li>
					<li class="pl-2 pr-2 pl-sm-4 pr-sm-4">
						<h4 class="font-family-oswald">
							<a class="d-block text-red text-decoration-none" href="#">Contact</a>
						</h4>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>