<header class="header bounceInDown wow" data-wow-duration="2s">
	<div class="container-fluid">
		<div class="row">
			<div class="column mr-auto">
				<a class="logo" href="#">
					<img src="images/logo.svg" width="47" alt="">
				</a>
			</div>
			<div class="menu" data-id="menu">
				<button class="menu-close text-white font-size-20 d-lg-none button-clr" type="button" data-toggle="toggleVisible" data-target="menu">
					<svg class="svg-icon">
						<use xlink:href="images/svg-sprite/svgSprite.svg#close"></use>
					</svg>
				</button>
				<div class="menu-inner">
					<ul class="menu-nav">
						<li class="delay-1s">
							<a href="#">Home</a>
						</li>
						<li class="delay-1500ms">
							<div class="menu-nav-dropdown">
								<a class="menu-nav-toggle" href="#">Shop</a>
								<ul class="menu-nav-drop list-unstyled">
									<li><a href="#">Yii development</a></li>
									<li><a href="#">Laravel development</a></li>
									<li><a href="#">Wordpress development</a></li>
									<li><a href="#">Design</a></li>
									<li><a href="#">Android development</a></li>
									<li><a href="#">iOS development</a></li>
								</ul>
							</div>
						</li>
						<li class="delay-2s">
							<a href="#">About</a>
						</li>
						<li class="delay-2500ms">
							<a href="#">Contact</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="column">
				<a class="basket text-white font-size-22" href="#">
					<svg class="svg-icon">
						<use xlink:href="images/svg-sprite/svgSprite.svg#basket"></use>
					</svg>
					<span class="notif-indicator">1</span>
				</a>
			</div>
			<div class="column d-lg-none">
				<button class="header-menu-toggle button-clr text-white font-size-20" type="button" data-toggle="toggleVisible" data-target="menu">
					<svg class="svg-icon">
						<use xlink:href="images/svg-sprite/svgSprite.svg#menu"></use>
					</svg>
				</button>
			</div>
		</div>
	</div>
</header>